asgiref==3.8.1            # via django
backports-tempfile==1.0   # via z3c-rml
backports-weakref==1.0.post1  # via backports-tempfile
chardet==5.2.0            # via reportlab
cssselect2==0.7.0         # via svglib
deprecated==1.2.14        # via pikepdf
django==4.2.11 ; python_version < "3.10"            # via -r requirements.in
freetype-py==2.4.0        # via rlpycairo
lxml==5.2.1               # via pikepdf, svglib, z3c-rml
packaging==24.0           # via pikepdf
pay-by-square==0.2.0      # via -r requirements.in
pikepdf==8.15.1           # via z3c-rml
pillow==10.3.0            # via pikepdf, reportlab
pycairo==1.26.0           # via rlpycairo
pygments==2.17.2          # via z3c-rml
pypng==0.20220715.0       # via qrcode
qrcode==7.4.2             # via reportlab-qr-code-generator
reportlab==4.2.0          # via svglib, z3c-rml
reportlab-qr-code-generator==1.7.0  # via -r requirements.in
rlpycairo==0.3.0          # via z3c-rml
six==1.16.0               # via reportlab-qr-code-generator
sqlparse==0.5.0           # via django
svglib==1.5.1             # via z3c-rml
tinycss2==1.2.1           # via cssselect2, svglib
typing-extensions==4.11.0  # via asgiref, qrcode
webencodings==0.5.1       # via cssselect2, tinycss2
wrapt==1.16.0             # via deprecated
z3c-rml==4.4.0            # via -r requirements.in
zope-event==5.0           # via zope-schema
zope-interface==6.3       # via z3c-rml, zope-schema
zope-schema==7.0.1        # via z3c-rml

# The following packages are considered to be unsafe in a requirements file:
# setuptools
django==5.0.4 ; python_version >= "3.10"             # via -r requirements.in
